$c-color : #0D5BCF;
$headerH : 60px;

$fz12 :  0.75rem;
$fz14 : 0.875rem;
$fz15 : 0.9375rem;
$fz16 : 1rem;
$fz17 : 1.063rem;
$fz18 : 1.125rem;
$fz20 : 1.25rem;
$fz22 : 1.375rem;
$fz24 : 1.5rem;
$fz26 : 1.625rem;
$fz28 : 1.75rem;
$fz29 : 1.813rem;
$fz30 : 1.875rem;
$fz32 : 2rem;
$fz34 : 2.125rem;
$fz36 : 2.25rem;
$fz40 : 2.5rem;
$fz44 : 2.75rem;
$fz48 : 3rem;
$fz54 : 3.375rem;
$fz60 : 3.75rem;
$fz66 : 4.125rem;
$fz72 : 4.5rem;
$fz80 : 5rem;
